/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: Arial, sans-serif;
    background-color: light yellow; /* light yellow */

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 40px;
}

/* Container */
.container {
    width: 100%;
    max-width: 500px;

    background: #f0f0f0;
    padding: 25px;

    border-radius: 15px;
    border: 2px solid #ccc;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Title */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;

    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    border-radius: 6px;
    border: none;

    background: #1e73d8;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #155ab6;
}

/* List */
ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;

    border-radius: 6px;
    border: 1px solid #ccc;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
}

/* Delete button */
li button {
    width: auto;
    background: #e74c3c;
}

li button:hover {
    background: #c0392b;
}

/* Total */
h3 {
    text-align: center;
    margin-top: 20px;
}
