/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: Arial, sans-serif;
    background-color: #fff9db; /* light yellow */
    padding: 40px;
    text-align: center;
}

/* Main box */
.container {
    max-width: 600px;
    margin: auto;
    background: #f0f0f0;
    padding: 25px;
    border-radius: 15px;

    border: 2px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Title */
h2 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

/* Inputs, dropdowns, buttons */
input, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;

    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Focus */
input:focus, select:focus {
    border-color: #1e73d8;
    outline: none;
}

/* Buttons */
button {
    background-color: #1e73d8;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* Hover */
button:hover {
    background-color: #155ab6;
}

/* List */
ul {
    margin-top: 20px;
    padding: 0;
}

/* Expense item */
li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ffffff;
}

/* Delete button */
li button {
    background-color: #e74c3c;
    width: auto;
    padding: 5px 10px;
}

li button:hover {
    background-color: #c0392b;
}

/* Total */
h3 {
    margin-top: 20px;
}
